.theme-dark{
    --header-primary:#fff;
    --header-secondary:#b9bbbe;
    --text-normal:#dcddde;
    --text-muted:#a3a6aa;
    --interactive-normal:#b9bbbe;
    --interactive-hover:#dcddde;
    --interactive-active:#fff;
    --interactive-muted:#4f545c;
    --background-primary:#36393f;
    --background-secondary:#2f3136;
    --background-secondary-alt:#292b2f;
    --background-tertiary:#202225;
    --background-accent:#4f545c;
    --background-floating:#18191c;
    --background-nested-floating:#2f3136;
    --info-positive-text:#fff;
    --info-warning-text:#fff;
    --info-danger-text:#fff;
    --info-help-text:#fff;
    --status-positive-text:#fff;
    --status-warning-text:#000;
    --status-danger-text:#fff;
    --button-secondary-background:#4f545c;
    --button-secondary-background-hover:#686d73;
    --button-secondary-background-active:#72767d;
    --button-secondary-background-disabled:#4f545c;
    --button-outline-danger-text:#fff;
    --button-outline-danger-text-hover:#fff;
    --button-outline-danger-text-active:#fff;
    --button-outline-positive-text:#fff;
    --button-outline-positive-text-hover:#fff;
    --button-outline-positive-text-active:#fff;
    --button-outline-brand-text:#fff;
    --button-outline-brand-text-hover:#fff;
    --button-outline-brand-text-active:#fff;
    --button-outline-primary-text:#fff;
    --button-outline-primary-border:#4f545c;
    --button-outline-primary-background-hover:#4f545c;
    --button-outline-primary-text-hover:#fff;
    --button-outline-primary-border-hover:#4f545c;
    --button-outline-primary-background-active:#686d73;
    --button-outline-primary-text-active:#fff;
    --button-outline-primary-border-active:#686d73;
    --modal-background:#36393f;
    --modal-footer-background:#2f3136;
    --input-background:#202225;
    --logo-primary:#fff;
    --channels-default:#96989d;
    --channel-icon:#8e9297;
    --channel-text-area-placeholder:#72767d;
    --channeltextarea-background:#40444b;
    --activity-card-background:#202225;
    --textbox-markdown-syntax:#8e9297;
    --spoiler-revealed-background:#292b2f;
    --spoiler-hidden-background:#202225;
}
.theme-light{
    --header-primary:#060607;
    --header-secondary:#4f5660;
    --text-normal:#2e3338;
    --text-muted:#5e6772;
    --interactive-normal:#4f5660;
    --interactive-hover:#2e3338;
    --interactive-active:#060607;
    --interactive-muted:#c7ccd1;
    --background-primary:#fff;
    --background-secondary:#f2f3f5;
    --background-secondary-alt:#ebedef;
    --background-tertiary:#e3e5e8;
    --background-accent:#6a7480;
    --background-floating:#fff;
    --background-nested-floating:#fff;
    --info-positive-text:#000;
    --info-warning-text:#000;
    --info-danger-text:#000;
    --info-help-text:#000;
    --status-positive-text:#fff;
    --status-warning-text:#fff;
    --status-danger-text:#fff;
    --button-secondary-background:#6a7480;
    --button-secondary-background-hover:#4f5660;
    --button-secondary-background-active:#444b53;
    --button-secondary-background-disabled:#6a7480;
    --button-outline-danger-text:#000;
    --button-outline-danger-text-hover:#fff;
    --button-outline-danger-text-active:#fff;
    --button-outline-positive-text:#000;
    --button-outline-positive-text-hover:#fff;
    --button-outline-positive-text-active:#fff;
    --button-outline-brand-text:#000;
    --button-outline-brand-text-hover:#fff;
    --button-outline-brand-text-active:#fff;
    --button-outline-primary-text:#000;
    --button-outline-primary-border:#6a7480;
    --button-outline-primary-background-hover:#6a7480;
    --button-outline-primary-text-hover:#fff;
    --button-outline-primary-border-hover:#6a7480;
    --button-outline-primary-background-active:#4f5660;
    --button-outline-primary-text-active:#fff;
    --button-outline-primary-border-active:#4f5660;
    --modal-background:#fff;
    --modal-footer-background:#f2f3f5;
    --input-background:#e3e5e8;
    --channels-default:#5e6772;
    --channel-icon:#6a7480;
    --channel-text-area-placeholder:#747f8d;
    --channeltextarea-background:#ebedef;
    --activity-card-background:#fff;
    --textbox-markdown-syntax:#6a7480;
    --spoiler-revealed-background:#ebedef;
    --spoiler-hidden-background:#e3e5e8;
}
